{% extends 'base.html' %}
{%block title%}
<title>{{title}}</title>
{%endblock%}
{% block body %}
<section class="w-full sm:w-8/12 md:w-8/12 lg:w-8/12 xl:w-8/12 p-1 sm:p-3  mx-auto min-h-full  z-40 align-middle flex flex-wrap content-center">


<img  class="mx-auto" src="{{ url_for('static', filename='img/eagle.jpg') }}"/>
<p style="text-indent: 50px;">    <span>A</span> few things to say about a perfect man. Although it sounds like a myth this days.A man(male/female) who is willing to sacrifice the immediate comforts for the sake of 
    someone we will ever encounter is perfect. In other words, having the awarness that there are peple arround us we can affect positively/negatively weather we know the or not. So, having 
    humanity and a soul will be of paramount importance as,we will never be able to bypass the truth. 
  </p>
</br>
         <p style="text-indent: 50px;">A few things to say about a perfect man. Although it sounds like a myth this days.A man(male/female) who is willing to sacrifice the immediate comforts for the sake of 
    someone we will ever encounter is perfect. In other words, having the awarness that there are peple arround us we can affect positively/negatively weather we know the or not. So, having 
    humanity and a soul will be of paramount importance as,we will never be able to bypass the truth. 
  </p>
</section>
{%endblock%}